In [1]:
import numpy as np

Провести дисперсионный анализ для определения того, есть ли различия среднего роста среди взрослых футболистов, хоккеистов и штангистов.
Даны значения роста в трех группах случайно выбранных спортсменов:
Футболисты: 173, 175, 180, 178, 177, 185, 183, 182.
Хоккеисты: 177, 179, 180, 188, 177, 172, 171, 184, 180.
Штангисты: 172, 173, 169, 177, 166, 180, 178, 177, 172, 166, 170.

In [2]:
fb = [173, 175, 180, 178, 177, 185, 183, 182]
ih = [177, 179, 180, 188, 177, 172, 171, 184, 180]
ha = [172, 173, 169, 177, 166, 180, 178, 177, 172, 166, 170]

In [6]:
n1 = len(fb)
n2 = len(ih)
n3 = len(ha)
k = 3

In [7]:
n = n1 + n2 + n3
n

28

In [8]:
y1 = np.array(fb, dtype=np.float64)
y2 = np.array(ih, dtype=np.float64)
y3 = np.array(ha, dtype=np.float64)

In [9]:
y1_mean = np.mean(y1)
y1_mean

179.125

In [10]:
y2_mean = np.mean(y2)
y2_mean

178.66666666666666

In [11]:
y3_mean = np.mean(y3)
y3_mean

172.72727272727272

In [12]:
y = np.concatenate([y1, y2, y3])
y

array([173., 175., 180., 178., 177., 185., 183., 182., 177., 179., 180.,
       188., 177., 172., 171., 184., 180., 172., 173., 169., 177., 166.,
       180., 178., 177., 172., 166., 170.])

In [13]:
y_mean = np.mean(y)
y_mean

176.46428571428572

In [14]:
s2 = np.sum((y - y_mean)**2)
s2

830.9642857142854

In [15]:
s2_f = ((y1_mean - y_mean)**2) * n1 + ((y2_mean - y_mean)**2) * n2 + ((y3_mean - y_mean)**2) * n3
s2_f

253.9074675324678

In [16]:
s2_residual = np.sum((y1 - y1_mean)**2) + np.sum((y2 - y2_mean)**2) + np.sum((y3 - y3_mean)**2)
s2_residual

577.0568181818182

In [17]:
s2_f + s2_residual

830.964285714286

In [18]:
s2

830.9642857142854

In [21]:
sigma2_g = s2 / (n - 1)
sigma2_g

30.776455026455015

In [22]:
sigma2_f = s2_f / (k - 1)
sigma2_f

126.9537337662339

In [23]:
sigma2_residual = s2_residual / (n - k)
sigma2_residual

23.08227272727273

In [24]:
F_h = sigma2_f / sigma2_residual
F_h

5.500053450812598

In [25]:
dfмежд = k - 1
dfмежд

2

In [27]:
dfвнутр = n - k
dfвнутр

25

In [28]:
F_крит = 3,385

Так как F_h > F_крит, различие среднего роста в трех группах статистически значимо.

In [32]:
from scipy import stats

In [33]:
stats.f_oneway(y1, y2, y3)

F_onewayResult(statistic=5.500053450812596, pvalue=0.010482206918698694)

Верна гипотеза Н1, что различие среднего роста в трех группах статистически значимо.